@font-face {
  font-family: "Nordic";
  src: url("fonts/NORDIC LIGHT.ttf") format("truetype");
}

@font-face {
  font-family: "Outskirts";
  src: url("fonts/The\ Outskirts.ttf") format("truetype");
}

html,
body,
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Nordic, Tahoma, sans-serif;
}
header {
  font-size: 1.4rem;
}
footer {
  font-family: "Gill Sans", "Arial Narrow", sans-serif;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}
header {
  height: 10vh;
  color: #33cccc;
}
/* play-container */
.choices {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.choices img {
  width: 8vw;
  height: auto;
  transition-property: transform;
  transition-duration: 0.39s;
  /* transition-delay: 0s; */
}
.choices img:hover {
  transform: translateY(-30px);
  border: 3px solid #33cccc;
  border-radius: 30%;
  box-shadow: 0px 4px 7px #3fcfcf;
}

.play-container {
  display: flex;
  justify-content: center;
  flex-grow: 4;
  min-width: 30rem;
}
/* score */
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  align-items: center;
  gap: 1vh;
  font-size: 1.3rem;
}
.score div span {
  padding: 0 3vw;
  color: #33cccc;
}
.results {
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#reset {
  font-size: 1rem;
  border: 0.1em solid #ccc;
  border-radius: 0.2em;
  padding: 0.4em 0.8em;
  font-family: Nordic, sans-serif;
  background-color: white;
  border-color: #33cccc;
  cursor: pointer;
}
#reset:active {
  background-color: #80fafa;
  box-shadow: 0 5px #33cccc;
  transform: translateY(4px);
}
.player,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.score p:last-child {
  font-family: Outskirts, sans-serif;
}

@keyframes leftWaver {
  0% {
    transform: rotate(-13deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes rightWaver {
  0% {
    transform: rotate(13deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.player > img,
.computer > img {
  padding-top: 3rem;
  width: 35vw;
  height: auto;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;

  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
}
.player > img {
  transform-origin: left;
  animation-name: leftWaver;
}
.computer > img {
  transform-origin: right;
  animation-name: rightWaver;
}
